DATABASE_URL=postgresql://mimic:mimic@localhost:5435/mimic_cfo

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

ANTHROPIC_API_KEY=
OPENAI_API_KEY=